* {
  margin: 0px;
  padding: 0px;
}

.navbar {
  width: 100%;
  height: 122px;
  background-color: #dfe3e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.nav-logo {
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  margin-left: 20px;
}

.nav-links {
  list-style: none;
}

.nav-link li {
  display: inline;
}

.nav-link li a {
  text-decoration: none;
  margin: 20px;
  font-size: 18px;
  color: #3c3e41;
}

.container {
  width: 100%;
  height: 868px;
  background-color: #dfe3e7;
  display: flex;
  justify-content: center;
}

.small-container {
  width: 1155px;
  height: 618px;
  /* border: 2px solid black; */
  display: flex;
  margin-top: 80px;
}

.welcome {
  width: 643px;
  height: 550px;
  /* border: 1px dotted black; */
  margin-top: 40px;
  margin-left: 20px;
}

.image {
  width: 451px;
  height: 618px;
  /* border: 1px dotted black; */
}

.myworld {
  width: 643px;
  height: 50px;
  color: #3c3e41;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 3px;
  /* border: 2px solid red; */
  margin-bottom: 40px;
  margin-left: 20px;
}

.myname {
  font-weight: 700;
  font-size: 60px;
  line-height: 75px;
  margin-top: 20px;
  margin-left: 20px;
}

.change {
  color: #ff014f;
}

.img {
  width: 451px;
  height: 618px;
}

.para {
  width: 643px;
  height: 90px;
  color: #3c3e41;
  font-size: 16px;
  line-height: 30px;
  padding-right: 16%;
  margin-top: 20px;
  margin-left: 20px;
}

.find {
  width: 306px;
  height: 115px;
  margin-top: 100px;
  margin-left: 20px;
 
}

.social-share{
  width: 306px;
  height: 115px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

}

.apps{
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sur {
  width: 117px;
  height: 21px;
  font-size: 14px;
}

/* education section */

.container2 {
  width: 100%;
  height: 1100px;
  background-color: #dfe3e7;
  display: flex;
  align-items: center;
}

.small-container2 {
  width: 100%;
  height: 922px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.box1 {
  width: 354px;
  height: 344px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}



.box2 {
  width: 354px;
  height: 344px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box3 {
  width: 354px;
  height: 344px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box4 {
  width: 354px;
  height: 344px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.box5 {
  width: 354px;
  height: 344px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.box6 {
  width: 354px;
  height: 344px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Do {
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
 
}

.Do h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2px;
  margin-top: 15px;
}

.small-box {
  width: 300px;
  height: 290px;
  
}


.small-box2 {
  width: 300px;
  height: 290px;
 
}

.small-box3 {
  width: 300px;
  height: 290px;
 
}

.small-box4 {
  width: 300px;
  height: 290px;
 
}

.small-box5 {
  width: 300px;
  height: 290px;
  
}

.small-box6 {
  width: 300px;
  height: 290px;
  

}

.icon{
  
  margin-bottom: 40px;
  color: #ff014f;
}

.title{
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color:#1e2125;
  margin-bottom: 40px;
}

.discription  {
  font-size: 16px;
  line-height:  28px;
  color:#3c3e41;
}

/* our project section start */

.container3{
  width: 100%;
  height: 822px;
  background-color: #dfe3e7;
  display: flex;
  justify-content: center;
  /* align-items: center; */
 
}

/* .contact{
  width: 254px;
  height: 194px;
  border:2pz solid black;  
} */

.proj-container{
  width: 100%;
  height: 711px;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proj-heading {
  width: 562px;
  height: 101px;
  /* border: 2px dotted black; */
  text-align: center;
}

.proj-heading h2{
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 15px;
}

.projects{
  width: 100%;
  height: 455px;
  
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



.myproject{
  width: 354px;
  height: 404px;
  background-color: #ffffff;
  border-radius: 10px;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proj-box{
  width: 294px;
  height: 404px;
  /* border: 2px dashed black; */
  
}

.proj-img{
  width: 294px;
  height: 221px;
  border-radius: 10px;

}

.proj-dis {
  width: 294px;
  height: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px dashed black; */
}

.proj-dis a{
  text-decoration: none;
  color: #ff014f;
  font-size: 12px;
}

line{
  font-size: 13px;
  color: #3c3e41;
}

.proj-contant{
  font-size: 23px;
  font-weight: 600;
  line-height: 34px;
  
}

.proj-contant a {
    text-decoration: none;
    color: #1e2125;
}

.gic{
  width: 294px;
  height: 221px;
  border-radius: 10px;
}

/* resume section */

.resume-container{
  width: 100%;
  height: 818px;
  background-color: #dfe3e7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head{
  width: 100%;
  text-align: center;
  font-size: 36px;
  color: #3c3e41;
  margin-top: 50px;
 

}

.tab{
  width:85%;
  height: 86px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
   margin-left: 60px;
  /* border: 1px solid black; */
}

.tab button {
  width: 300px;
  height: 86px;
  background: #90caf8;
  border: none;
  outline: none;
  border-radius: 10px;
  color:#1e2125 ;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  /* transition: background 0.3s; */

}

.tab button:hover{
  background-color: #74aedd;
  color: #DC3547;
} 

.tab button.active{
  background-color: #ffffff;
} 


.tabcontent{
  /* background-color: #ffffff; */
  width: 100%;
  padding: 12px;
  line-height: 21px;
 border-radius: 10px;
 text-align: center;
 color: #3c3e41;
 display: flex;
 justify-content: center;
 margin-top: 50px;
  /* display: none; */
}

.box1{
  width: 350px;
  /* border: 1px solid black; */
}

.tablinks{
  font-size: 26px;
  
}

.resume-contant{
  width: 1140px;
  height: 818px;
  display: flex;
  flex-direction: column;
  
}

.tab-box{
  width: 100%;
  height: 300px;
 
  display: flex;
  justify-content: space-evenly;


}

.cont-box{
  width: 300px;
  height: 300px;
  font-size: 36px;
  /* border: 1px dotted; */
  display: flex;
   background-color: #ffffff;
  justify-content: center;
  align-items: center;
    border-radius: 10px;
}

.cont-box2{
  width: 450px;
  height: 300px;
  font-size: 20px;
  line-height: 23px;
  /* border: 1px dotted; */
    background-color: #ffffff;
  display: flex;
 flex-direction: column;
  justify-content: center;
  align-items: center;
    border-radius: 10px;
}

/* contact section */

.contact-container{
  width: 100%;
  height: 1000px;
  background-color: #dfe3e7;
  display: flex;
  justify-content: center;
}

.cont-small{
  width: 1140px;
  height: 890px;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.contact-heading{
  width: 1125px;
  height: 101px;
  
  text-align: center;
  
}

.contact-title{
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 15px;
  color: #3c3e41;
}

.contact-area{
  width: 100%;
  height: 738px;
  display: flex;
  justify-content: space-between;

}

.contact-about{
  width: 451px;
  height: 738px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.contact-about-area{
  width: 391px;
  height: 700px;
  
}

.contact-image{
  width: 391px;
  height: 244px;
  border-radius: 10px;
}

.title-area{
  width: 391px;
  height: 80px;
}

.contact-name{
  font-size: 29px;
  line-height: 44px;
  margin-top: 9px;
}

social{
  color: #3c3e41;
  font-size: 18px;
}
  


.discription{
  width: 391px;
  height: 134px;
}

.social-area{
  width: 391px;
  height: 106px;
  margin-top: 50px;

}

.name{
  width: 391px;
  height: 21px;
}

.social-icon{
  width: 391px;
  height: 61px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  
}

.icon{
  width: 61px;
  height: 61px;
  background-color: #dfe3e7;
  color: #000000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
}

i{
  color: #3c3e41;  
}

.contact-form{
  width: 623px;
  height: 738px;
  background-color: #CED0D4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  
}

.contact-form-area{
  width: 563px;
  height: 700px;
  display: flex;
  flex-direction: column;
 
  
  
  
}

.form-input{
  width: 563px;
  height: 91px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 
}

.init {
  width: 266px;
  height: 55px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
}

.form-email{
  width: 563px;
  height: 111px;
  margin-top: 20px;
}

.form-subject{
  width: 563px;
  height: 111px;
  margin-top: 20px;
}

.email-input{
  width: 563px;
  height: 55px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
}

.subject-input{
  width: 563px;
  height: 55px;
  border-radius: 10px;
  border: none;
  margin-top: 20px
}

.contact-massage{
  width: 563px;
  height: 235px;
  border-radius: 10px;
  margin-top: 20px
}

.submit{
  width: 563px;
  height: 55px;
  background-color: #74aedd;
  color: #DC3547;
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
  border-radius: 10px;
  border: none;

}

.submit:hover{
  background-color: #DC3547;
  color: #ffffff;
}
